@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}

/* Custom Snackbar Styles */
.green-snackbar {
  background-color: #10b981 !important; /* Tailwind green-500 */
  color: white !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
}

.green-snackbar .mat-mdc-simple-snack-bar {
  justify-content: center;
}

.green-snackbar .mat-mdc-snack-bar-action {
  color: white !important;
}
